.idea/
__pycache__
data/*/
*.np
*.html
published_results/devmap
published_results/threadcoarsening
published_results/vocabulary
task/classifyapp/*/
task/devmap/*/
task/threadcoarsening/*/
venv/
task/devmap/*
task/threadcoarsening/*
task/devmap_test
task/devmap_test_overnight
task/classifyapp/*
data/
