.idea/
__pycache__
**/.DS_Store
**/._.DS_Store
venv/
data/*/
data/*.zip
*.np
*.html
published_results/devmap
published_results/threadcoarsening
published_results/vocabulary
task/classifyapp/*/
task/classifyapp/classifyapp_data.zip
task/devmap/*
task/threadcoarsening/*
env/